body{
    background-color: #A06D21; background-image: url('images/vltt.jpg'); background-attachment: fixed;background-size: 400px 400px; background-position: center; background-repeat: no-repeat;
}
h2{
    text-align: center; color: #FFCC00;
}
p{
    color: #FFFFFF;
}