*{
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
}
.pfont{
    font-family: Arial, Helvetica, sans-serif;
}
.h1{
    text-align: center;
    
}
h2{
    text-align: left;
}
h3{
    text-align: right;
}
.textdrtion{
    text-decoration: overline underline;
}
.textshadow{
    text-shadow: 3px 3px 5px red;
}
.pd{
    margin-top: 10px;
    border: 1px solid red;
    padding: 25px 50px 75px 100px;
}
/* flower*/
.title{
 margin-bottom: 10px;
 line-height: 2;
}
.flower{
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}
img{
    margin-top :20px;
    margin-left: 25px;
    border-top: 1px inset black;
    border-bottom: 1px outset black;
    border-left: 4px dashed black;
    width: 300px;
    height: 350px;

}